logs/
npm-debug.log
yarn-error.log
node_modules/
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
upgrade.md
check.js
build.js
config/config.localhost.js
config/config.production.js
config/config.product.js
config/config.locale.js